---
http_interactions:
- request:
    method: post
    uri: https://www.codewars.com/api/v1/code-challenges/projects/5682b13f3e087c2eb6000030/solutions/5682b13f3e087c2eb6000032/finalize
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - MudsXKs87VGHwLiAgzsk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0dc9d32bd3f9b9a9e9e28d352d174d15"'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"message":"Finalized Finalized cannot be true unless
        completed_at is set, Finalized Finalized cannot be true unless code is set","errors":[{"reason":"Finalized
        Finalized cannot be true unless completed_at is set, Finalized Finalized cannot
        be true unless code is set","fields":["finalized"]},{"reason":"Finalized Finalized
        cannot be true unless code is set","fields":["finalized"]}],"error":422}'
  recorded_at: Sun, 10 Jan 2016 23:31:47 GMT
recorded_with: VCR 2.9.3
