---
http_interactions:
- request:
    method: post
    uri: https://www.codewars.com/api/v1/code-challenges/ruby/train
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - MudsXKs87VGHwLiAgzsk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"54798300a77d1e64f3e421ca726aaac7"'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"name":"Text align justify","slug":"text-align-justify","href":"/kata/text-align-justify","description":"Your
        task in this Kata is to emulate text justification in monospace font. You
        will be given a single-lined text and the expected justification width. The
        longest word will never be greater than this width.\n\nHere are the rules:\n\n  *
        Use spaces to fill in the gaps between words.\n  * Each line should contain
        as many words as possible.\n  * Use ''\\n'' to separate lines.\n  * Gap between
        words can''t differ by more than one space.\n  * Lines sho[...]
